// Variables

//  Stores SASS variables like colors, font sizes, spacing, and other values that are likely to be reused.

@use 'fonts';

$primary-cyan: #125668;
$light-cyan: #39A3BC;
$dark-cyan: #05303A;
$yellow: #F2B446;
$light-yellow: #F9E193;
$grey: #8E8E8E;
$light-grey: #EFEFEF;

// $primary-color: #FFA458;
// $secondary-color: #BA3B0A;
// $accent-color: #BA3B0A;
// $body-text-color: #333;
// $heading-font-family: 'cantarellregular', helvetica, arial;
// $body-font-family: helvetica,arial, sans-serif;
// $base-font-size: 18px;
// $base-font-weight: 400;