// Variables

//  Stores SASS variables like colors, font sizes, spacing, and other values that are likely to be reused.

@use 'fonts';

// Colors
$primary-cyan: #125668;
$light-cyan: #39A3BC;
$dark-cyan: #05303A;
$yellow: #F2B446;
$light-yellow: #F9E193;
$grey: #8E8E8E;
$light-grey: #EFEFEF;