// Component for CONTACT PAGE and FORM

@use '../abstracts/variables' as a;

/* --First: Mobile Styles--- */

.contact-section {
    padding-top: a.$section-gap;
    padding-bottom: a.$section-gap;
    text-align: center;

    h3 {
        font-family: a.$ubuntu;
        font-weight: 600;
        font-size: a.$h2;
        color: a.$primary-cyan;
        margin-bottom: 25px;
    }
}

.redux-form-section {
    
    form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: a.$light-cyan;

        input {
            background-color: white;
            border-radius: a.$round-border;
            height: 50px;
            padding: 15px 20px;
            color: a.$primary-cyan;
            box-shadow: inset 1px -3px 8px 4px rgba(0, 0, 0, 0.15);
        }

        input::placeholder {
            font-family: a.$ubuntu;
            font-size: a.$text;
            color: a.$grey;
            opacity: .75;
        }

        button {
            background-color: a.$light-cyan;
            margin-top: 10px;
            height: 50px;
            border-radius: a.$round-border;
            color: white;
            font-size: a.$text;
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
            box-shadow: a.$blur-shadow;
            transition: a.$basic-transition;
            cursor: pointer;

            &:hover {
                background-color: a.$primary-cyan;
                transform: scale(1.05);
                box-shadow: a.$click-shadow;
            }
        }
    }
}

.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.popup img {
    width: 50px;
}

.popup-content {
    background-color:  #f4fdff;
    padding: 50px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 75vw;

    h4 {
        text-align: center;
        font-size: a.$h4;
        color: a.$primary-cyan
    }

    p {
        text-align: center;
        font-size: a.$text;
        line-height: 140%;
        color: a.$grey;

        span {
            font-weight: 800;
        }
    }
}

.close-btn {
    position: absolute;
    z-index: 10000;
    top: 80px;
    right: 57px;
    padding: 7px 10px 10px 10px;
    background-color: a.$light-cyan;
    box-shadow: inset 2px 4px 4px 2px rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    font-size: a.$h4;
    transition: a.$basic-transition;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        background-color: a.$primary-cyan;
    }
}

.close-btn:hover {
    color: white;
    transform: scale(1.1);
    cursor:pointer;
}

/* ---Tablet Styles--- */
@media screen and (min-width: 768px) {
    .contact-section {
        text-align: left;
    }

    .popup-content {
        width: 50vw;
        align-items: start;

        h4 {
            text-align: left;
        }

        p {
            text-align: left;
        }
    }

    .close-btn {
        right: 50px;
    }
}

// ---Desktop Styles---
@media screen and (min-width: 1200px) {

    .redux-form-section {
        form {
            display: flex;
            flex-direction: row;
            gap: 15px;
    
            input {
                background-color: white;
                border-radius: a.$round-border;
                padding: 15px 25px;
                font-family: a.$ubuntu;
                font-size: a.$text;
                box-shadow: inset 2px 4px 4px 2px rgba(0, 0, 0, 0.15);
                width: 100%;
            }

            button {
                margin-top: 0;
                width: 50%;
                padding: 15px 10px;
            }
        }
    }

    .popup-content {
        width: 40vw;
    }

    .close-btn {
        right: 30px;
    }
}