@use '../abstracts/variables' as a;

footer {
    background-color: white;
    padding-top: 75px;
    padding-bottom: a.$section-gap;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.1);
}

.footer-copy {
    display: flex;
    flex-direction: column;

    img {
        width: 25px;
        margin-bottom: 15px;
        cursor: pointer;
    }

    h5 {
        color: a.$primary-cyan;
        font-size: a.$text;
        padding-bottom: 5px;
    }
}

.footer-social-media {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.social-media-icon {
    background-color: a.$light-cyan;
    padding: 7px;
    width: fit-content;
    border-radius: 10px;
    width: 30px;
    height: 30px;
    transition: a.$basic-transition;

    &:hover {
        transform: scale(1.1);
        box-shadow: a.$blur-shadow;
        background-color: a.$primary-cyan;
    }
}

.resume {
    margin-top: 10px;
    font-size: a.$h5;
    display: flex;
    gap: 5px;
    align-items: end;
    color: a.$light-cyan;
    cursor: pointer;
    transition: ease-in-out padding .25s;

    &:hover {
        color: a.$primary-cyan;
        padding-left: 10px;
        border-left: 2px solid a.$primary-cyan;
    }
}