// Component for PORTFOLIO elements and CASE STUDY PAGE

@use '../abstracts/variables' as a;

/* --First: Mobile Styles--- */

#portfolio-sec {
    padding-top: a.$section-gap;
}

.portfolio-title {
    margin-bottom: 75px;

    h4 {
        font-family: a.$ubuntu;
        font-weight: 600;
        font-size: a.$h3;
        color: a.$primary-cyan;
        text-align: center;
    }
}

.portfolio-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.portfolio-tag {
    border: 1.5px solid a.$light-cyan;
    border-radius: a.$round-border;
    padding: 10px 25px;
    font-size: a.$text;
    font-weight: 400;
    text-transform: uppercase;
    color: a.$light-cyan;
    transition: a.$basic-transition;
    cursor: pointer;

    &:hover {
        box-shadow: a.$click-shadow;
        transform: scale(1.1);
        background-color: a.$light-cyan;
        color: white;
    }
}

.selected {
    background-color: a.$light-cyan;
    color: white;
    box-shadow: a.$blur-shadow;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    img {
        aspect-ratio: 1/1;
        width: 80%;
    }
}

.portfolio-item-info {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    gap: 20px;
}

.project-title {
    color: a.$primary-cyan;
    font-size: a.$h4;
    font-weight: 400;

    span {
        font-weight: 800;
    }
}

.project-areas {
    color: a.$light-cyan;
    font-size: a.$h5;
}

.project-date {
    color: a.$grey;
    font-size: a.$text;
    text-transform: uppercase;
    letter-spacing: .75px;
    font-weight: 600;
}

.project-recap {
    color: a.$grey;
    font-size: a.$small-text;
}

.case-text {
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    text-align: center;

    h4 {
        font-size: a.$h3;
        color: a.$primary-cyan;
    }

    p {
        color: a.$grey;

        span {
            color: a.$light-cyan;
            font-weight: 600;
        }
    }
}

.case-title-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;

    i {
        color: a.$light-cyan;
    }

    h4 {
        font-size: a.$h4;
        color: a.$light-cyan;
    }
}

.project-media-con {
    margin-top: 50px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    background-color: #39a4bc2e;
    background: .5;
    padding: 5px;
    border-radius: a.$round-border;
    box-shadow: a.$click-shadow;
}

.project-media-image {
    object-fit: cover;
}

.project-media-image:first-of-type {
    border-top-left-radius: a.$round-border;
    border-top-right-radius: a.$round-border;
}

.project-media-image:last-of-type {
    border-bottom-left-radius: a.$round-border;
    border-bottom-right-radius: a.$round-border;
}

.project-thank {
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

    h4 {
        font-size: a.$h3;
        color: a.$light-cyan;
    }

    img {
        width: 250px;
        object-fit: contain;
    }
}




/* ---Tablet Styles--- */
@media screen and (min-width: 768px) {
    .portfolio-title h4{
            font-size: a.$h2;
            text-align: left;
    }

    .portfolio-item {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 50px;
    
        img {
            aspect-ratio: 1/1;
            width: 40%;
        }
    }
    
    .portfolio-item-info {
        width: 60%;
        text-align: left;
        padding-left: 25px;
    }

    .case-text {
        text-align: left;
        align-items: start;
    }

    .project-thank {
        margin-top: 100px;
        display: flex;
        flex-direction: row;
        gap: 50px;
        text-align: left;
    
        h4 {
            font-size: a.$h3;
            color: a.$light-cyan;
            margin-bottom: 30px;
            align-self: end;
        }
    
        img {
            padding-left: 0;
            padding-right: 0;
            object-fit: contain;
        }
    }
    
    .project-media-con {
        padding: 15px;
    }
}

// ---Desktop Styles---
@media screen and (min-width: 1200px) {
    .portfolio-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    
        img {
            aspect-ratio: 1/1;
            width: 40%;
        }
    }
    
    .portfolio-item-info {
        width: 60%;
    }

    .case-text-con {
        display: flex;
        gap: 75px;
    }

        
    .project-media-con {
        padding: 20px;
    }
}