@use '../abstracts/variables' as a;

#portfolio-sec {
    padding-top: a.$section-gap;
}

.portfolio-title {

    h4 {
        font-family: a.$ubuntu;
        font-weight: 600;
        font-size: a.$h2;
        color: a.$primary-cyan;
    }
}

.portfolio-tags {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
}

.portfolio-tag {
    border: 1.5px solid a.$light-cyan;
    border-radius: a.$round-border;
    padding: 10px 25px;
    font-size: a.$text;
    font-weight: 400;
    text-transform: uppercase;
    color: a.$light-cyan;
    transition: a.$basic-transition;
    cursor: pointer;

    &:hover {
        box-shadow: a.$click-shadow;
        transform: scale(1.1);
        background-color: a.$light-cyan;
        color: white;
    }
}

.portfolio-item {
    border-radius: a.$round-border;
    background-image: url(../images/placeholder.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: a.$blur-shadow;
    height: 350px;
    margin-top: 30px;
}