@use '../abstracts/variables' as a;

.testimonials {
    padding-top: a.$section-gap;
}

.testimonial {

    h4 {
        font-family: a.$ubuntu;
        font-weight: 600;
        font-size: a.$h2;
        color: a.$primary-cyan;
        margin-bottom: 25px;
    }
}

.testimonial-card {
    margin-top: 25px;
    padding: 40px 40px;
    border-radius: a.$round-border;
    background-color: #f4fdff;
    box-shadow: a.$blur-shadow;

    p {
        font-family: a.$ubuntu;
        font-weight: 400;
        font-size: a.$text;
        color: a.$grey;
    }
}

.testimonial-bio {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.testimonial-pic {
    background: a.$gradient;
    padding: 6px 6px 3px 6px;
    border-radius: 100%;

    img {
        object-fit: cover;
        width: 75px;
        border-radius: 100%;
    }
}

.testimonial-name {

    h6 {
        color: a.$primary-cyan;
        font-size: a.$h4;
        margin-bottom: 10px;
    }

    h7 {
        font-family: a.$ubuntu;
        line-height: 90%;
        margin-top: 10px;
        color: a.$light-cyan;
        font-size: 16px;
    }
}

.testimonial-controls {
    margin-top: 40px;
    display: flex;
    gap: 25px;
}

.testimonial-button {
    background-color: a.$light-cyan;
    box-shadow: inset 2px 4px 4px 2px rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    font-size: a.$h4;
    transition: a.$basic-transition;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
        background-color: a.$primary-cyan;
    }
}