@use '../abstracts/variables' as a;

.testimonials {
    padding-top: a.$section-gap;
}

.testimonial {
    position: relative;
    overflow: hidden;

    h4 {
        font-family: a.$ubuntu;
        font-weight: 600;
        font-size: a.$h2;
        color: a.$primary-cyan;
        margin-bottom: 25px;
    }
}

.testimonial-card {
    margin-top: 25px;
    padding: 40px 40px;
    border-radius: a.$round-border;
    background-color: #f4fdff;
    box-shadow: a.$blur-shadow;
    position: relative;
    display: none;
    opacity: 0;
    z-index: 0;
    transition: opacity 0.5s ease;

    p {
        font-family: a.$ubuntu;
        font-weight: 400;
        font-size: a.$h5;
        line-height: 150%;
        color: a.$grey;
        padding-top: 10px;
        text-indent: 45px;
    }
}

.testimonial-card.visible {
    display: block;
    flex-direction: column;
    opacity: 1;
  }

.testimonial-bio {
    margin-top: 25px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.testimonial-pic {
    background: a.$gradient;
    padding: 6px 6px 3px 6px;
    border-radius: 100%;
    box-shadow: a.$click-shadow;

    img {
        object-fit: cover;
        width: 75px;
        border-radius: 100%;
    }
}

.testimonial-name {

    h6 {
        color: a.$primary-cyan;
        font-size: a.$h4;
        margin-bottom: 10px;
    }

    h7 {
        font-family: a.$ubuntu;
        line-height: 90%;
        margin-top: 10px;
        color: a.$light-cyan;
        font-size: 16px;
    }
}

.testimonial-quote-mark {
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 75px;
    color: #39A3BC;
    opacity: .15;
    z-index: 0;
}

.testimonial-controls {
    margin-top: 40px;
    display: flex;
    gap: 10px;
}

.testimonial-button {
    background-color: a.$light-cyan;
    box-shadow: inset 2px 4px 4px 2px rgba(0, 0, 0, 0.15);
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: white;
    font-size: a.$h4;
    transition: a.$basic-transition;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;

    &:hover {
        transform: scale(1.1);
        background-color: a.$primary-cyan;
    }
}